
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caveat';

}

html{
  scroll-behavior: smooth;
}

body{
  background: #00416A; 
background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);
background: linear-gradient(to right, #E4E5E6, #00416A);

  color: #282c34;
}
h1,h2,h3{
  font-weight: bold;
  color: black;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
button{
  cursor: pointer;
  outline: none;
  border: none;
}
img{
  max-width: 100%;
  height: auto;
}


